<div class="container">

<h1>New Message</h1>

<%= render 'form', message: @message, baseline: @baseline %>

<% if @baseline != nil %>
    <%= link_to 'Back to ' + @baseline.name, baseline_path(@baseline) %>
<% else %>
    <%= link_to 'Back', messages_path %>
<% end %>

</div>
